@font-face { font-family: quake; src: url('/static/fonts/dpquake_.ttf'); }

html {
  height: 100%
}

.quake-font  {
  font-family: helvetica, arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #A93226;
}


.quake-input {
  background: 0;
  border-color: rgb(255, 0, 0);
}

.quake-input:hover, .quake-input:focus, .quake-input:active, .quake-input.active, .open>.dropdown-toggle.quake-input {
  background: 0;
  border-color: rgb(255, 0, 0);
  color :rgb(255, 0, 0);
}

.profile-list-header {
  padding: 20px;
  text-align: center;
}

.quake-btn {
  color: rgb(255, 0, 0);
  background-color: Transparent;
  border-color: rgb(255, 0, 0);
}

.quake-btn:hover, .quake-btn:focus, .quake-btn:active, .quake-btn.active, .open>.dropdown-toggle.quake-btn {
  color: #fff;
  background-color: rgb(255, 0, 0);
  border-color: rgb(255, 0, 0);
}

.emoji {
  color: rgb(255, 0, 0);
  font-size: 200px;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}

body {
  font-family: helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  margin-top:30px;
  color: #A93226;
  background-color : #1B1f1b ;
}

div.table-title {
   display: block;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
}
/* Override bootstap tables */
.table td, .table th {
  border-top: 0px;
}
.table thead th {
  border-bottom: 0px;

}

.table-title h3 {
   font-size: 30px;
   font-weight: 400;
   font-style:normal;
   font-family: helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}


/*** Table Styles **/

.table-fill {
  background: white;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}

th {
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
}

th:last-child {
}

tr {
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
  /*background:#4E5066;*/
  background: #dfab27;
}

tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}

/*tr:nth-child(odd) td {
  background:#EBEBEB;
}
*/

/*tr:nth-child(odd):hover td {
  background:#ffffff;
}
*/
tr:last-child td:first-child {
}

tr:last-child td:last-child {
}

td {
  /*background:#FFFFFF;*/
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:26px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
}

td:last-child {
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}


/* LIST OF FURTHER IMPROVEMENTS */
/*
currently working on :
calculation draft for keyframes steps

$scan-moving-duration: 3s;
$scan-moving-delay: 7s;

total time = 10s (duration + delay)
keyframes :
    0%: wait
    15%: start moving
    85%: end moving & start waiting
    100% : wait

(the rest later)

*/
/* REGULAR SCANLINES SETTINGS */
/* MOVING SCANLINE SETTINGS */
/* MIXINS */
/* CSS .scanlines CLASS */
.scanlines {
  position: relative;
  /*overflow: hidden;*/
  margin-top: 0px;
  padding-top: 30px;
  height: 100%;
}
.scanlines:before, .scanlines:after {
  display: block;
  pointer-events: none;
  content: '';
  position: absolute;
}
.scanlines:before {
  width: 100%;
  height: 2px;
  z-index: 2147483649;
  opacity: 0.75;
  -webkit-animation: scanline 6s linear infinite;
          animation: scanline 6s linear infinite;
}
.scanlines:after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2147483648;
  background: -webkit-linear-gradient(top, transparent 50%, rgba(0, 0, 0, 0.3) 51%);
  background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.3) 51%);
  background-size: 100% 4px;
  -webkit-animation: scanlines 6s steps(60) infinite;
          animation: scanlines 6s steps(60) infinite;
}

/* ANIMATE UNIQUE SCANLINE */
@-webkit-keyframes scanline {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
}
@keyframes scanline {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
}
@-webkit-keyframes scanlines {
  0% {
    background-position: 0 50%;
  }
}
@keyframes scanlines {
  0% {
    background-position: 0 50%;
  }
}

nav {
  float: right;
  width: 350px;
  text-align: center;
}

ul {
  display: inline-block;
  margin: 0;
  list-style-type: none;
  padding: 0;
}
ul.scanlines {
  position: absolute;
}
ul iframe,
ul video,
ul .jpg {
  width: calc(100vw - 350px);
  height: 95vh;
  border: none;
}
ul li {
  /*        display: none;

          &:target {
              display: inline-block;
          }*/
}

.jpg {
  background: url("http://images.eurogamer.net/articles//a/6/4/8/8/1/7/PC_003.jpg.jpg.jpg") no-repeat;
  background-size: cover;
}
