<!-- <meta http-equiv="refresh" content="30"> -->
{% extends "base.html" %}
{% block title %}Score{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

<img style="text-align: center;" src="{{ url_for('static',filename='img/quake_stats.png') }}"> 


<div class="col-md-12">
    <table class="table table-striped table-hover quake-font">
        <thead class="table-title">
            <th><h3>name</h3></th>
            <th style="text-align: right;"><h3>Kills</h3></th>
            <th style="text-align: right;"><h3>Games Played</h3></th>
            <th style="text-align: right;"><h3>Avg Kills Per Game</h3></th>
        </thead>
        {% for player in players|sort(attribute='kills', reverse=True) %}
            <tr>
                <td><a class="quake-font" href="/player/{{player['id']}}">{{player["username"]}}</a></td>
                <td style="text-align: right;" >{{player["kills"]}}</td>
                <td style="text-align: right;" >{{player["games_played"]}}</td>
                <td style="text-align: right;" >{{"%.2f"|format(player["average_score_per_game"])}}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
