<!-- <meta http-equiv="refresh" content="30"> -->
{% extends "base.html" %}
{% block title %}Score{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

<div class="offset-3 col-md-6">
    <h3>Map: {{map}}</h3>
    <table class="table table-striped table-hover quake-font">
        <thead class="table-title">
            <th><h3>name</h3></th>
            <th style="text-align: right;"><h3>score</h3></th>
        </thead>
        {% for user in users|sort(attribute='score', reverse=True) %}
            <tr>
                <td><a class="quake-font" href="/player/{{user['id']}}">{{user["username"]}}</a></td>
                <td style="text-align: right;" >{{user["score"]}}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
